.main {
  width: 80%;
}

.table {
  width: 100%;
}

.row {
  padding-top: 0.25rem;
}

.amount {
  text-align: right;
  padding-right: 0.5rem;
  width: 50%;
}

.unit {
  padding-left: 0.5rem;
  width: 50%;
}

.regularText {
  font-weight: normal;
}

.muted {
  composes: regularText;
  color: var(--secondary-font-color);
}

.divider {
  border: var(--main-border);
}

.noVerticalMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.textCenter {
  text-align: center;
}

.icon {
  width: 100%;
  text-align: center;
  padding-bottom: 0.25rem;
  color: var(--secondary-font-color);
}
