.row {
  padding-top: 0.25rem;
}

.amount {
  text-align: right;
  padding-right: 0.5rem;
}

.unit {
  padding-left: 0.5rem;
}

.regularText {
  font-weight: normal;
}

.muted {
  composes: regularText;
  color: var(--secondary-font-color);
}

.divider {
  border: var(--main-border);
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}
